@import '../../GlobalStyle/globalStyle.css';

.img-container{
    background-image: url("../../images/fondo-wpp.png");
    width: 70%;
   border-top: solid 1px #3b3c3c;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   
    
}
