
.button-delete-all-messages{
    width: 35px;
    height: 35px;
    background-color: red;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
     position:absolute;
    right: 60px;
    bottom: 18px;
    z-index: 2;
    cursor: pointer;
}

.icon-delete-all-messages{
    font-size: 25px;
}