#message{
    width:  100%;
    height: 50px;
    background-color: blue;
    border: none;
    background-color: #242626;
    border-radius: 30px;
    padding-left: 20px;
    color:white;
}

.label-write-message{
    visibility: hidden;
}
.write-message-container{
    display: flex;
    flex-direction: column;
    
    width: 900px;
}