.write-message-container{
    display: flex;
    flex-direction: column;
    
    width: 900px;
}
#message{
    width:  50%;
    height: 50px;
    
    border: none;
    background-color: #242626;
    border-radius: 30px;
    padding-left: 20px;
    color:white;
    position: absolute;
    bottom: 10px;
    right: 20px;
    outline: none; 
  
   
   
   
}



.label-write-message{
    visibility: hidden;
}
