
.chats-panel{
  
    width: 30%;
    height: 100%;
    background-color: #161717; 
    padding-inline: 10px;  
    border: solid 1px #3b3c3c;
    display: flex;
    flex-direction: column;
    gap:20px
    
   
}

.logo{
    color:white;
    padding-left: 10px;
    padding-top: 15px;
}



 @media (max-width:1000px ) {

    
    .chats-panel{
        min-width: 300px;
        
    }
}
@media (width < 600px) {
   .chats-panel{
        min-width: 200px;
        padding-inline: 0;
        
    }
}
 @media (max-width:500px ) {

    
    .chats-panel{
        min-width: 200px;
        padding-inline: 0;
        
    }
}


 
 /* @media (1000px < width < 1141px ) {

    
    
} */
