
.chats-panel{
  
    width: 30%;
    height: 100%;
    background-color: #161717; 
    padding-inline: 10px;  
    border: solid 1px #3b3c3c;
    display: flex;
    flex-direction: column;
    gap:20px
    
   
}

.logo{
    color:white;
    padding-left: 10px;
    padding-top: 15px;
}
