@import '../../GlobalStyle/globalStyle.css';


 .contact{
    width:100%;
    height: 70px;
    cursor:pointer;
    display:flex;
    flex-direction: row-reverse; 
    justify-content: start;
    align-items: center;
    color: white;
    gap:15px;
    padding-top: 30px;
    background-color: transparent;
    text-decoration: none;
    position:relative;
   
    
    
    
} 
.button-delete{
    color:red;
    font-size: 20px;
    
}
.button-deleteContact{
    background-color: transparent;
    border: none;
    cursor:pointer;
    position: absolute;
    top:35px;
    left: 360px;
    
    
}
.profile-photo-container{
    
    height: 100%;

}
.profile-photo{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    
}
