
.message-body{
    overflow-y:auto;
    margin-bottom: 80px;
    padding: 10px 45px 0px 45px;
    display: flex;
    flex-direction: column;


}

::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(107, 106, 106, 0.411);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(177, 176, 176);
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

@media (width < 600px) {
    .message-body {
        padding-inline: 20px;
        
    }
} 