@import url('../../GeneralStyle/generalStyle.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.home-page-container{
    display: flex;
    
}
.header-chat{
    width: 100%;
    height: 50px; 
    display: flex;
    justify-content: space-between;
    padding:30px 20px 30px 18px;
    align-items: center;
}
.logo{
    
    font-size: 20px;
    font-weight: 600;
    color:white;
    
}
.new-chat-menu-container{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}
/* .color:hover span{
    display: flex;
}
.color span{
    display: none;
    width: 30%;
    background-color: rgba(0,0,0,0.129);
    color:white;
    font-weight: 300;
    font-size: 12px;
    padding: 2px 5px;
    border-top-right-radius: 4px;
} */

.button-chat:hover {
    background-color: rgb(39, 39, 39);
    opacity: 5.9;  
    border-radius: 50px;
    
    
}

.button-chat{
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.new-chat-menu-container .button-chat .bi-envelope-plus{
    font-size: 18px;
    color:white;
    cursor:pointer;
    text-align: center;
   
    
}
.button-menu:hover {
    background-color: rgb(39, 39, 39);
    opacity: 5.9;  
    border-radius: 50px;
}
.button-menu{
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.new-chat-menu-container .button-menu .bi-three-dots-vertical{
    font-size: 18px;
    color:white;
    cursor:pointer;
    text-align: center;
   
}


.icons-container{
    width: 60px;
    height: 800px;
    background-color: #1d1f1f;
   
}
.img-container{
    background-image: url("../../IMG/fondo-wpp.png");
    width: 66%;
    
}

.chats-container{
    background-color: #161717;
    width: 30%;
    height: 800px;
    border: solid 1px #3b3c3c;
}
