.text {

    font-size: 15px;


}

.time {

    font-size: 12px;
    display: flex;
    align-items: end;
    justify-content: end;

}

.chat-container {
    background-image: url("../../images/fondo-chat.png");
    width: 70%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;

}

.message-container {
    display: flex;

}

.message-container.other-message {

    justify-content: flex-start;


}



.message-container.my-message {

    justify-content: flex-end;


}

.my-message-data {
    color: white;
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(19, 77, 48);
    word-wrap: break-word;
    max-width: 50%;
    margin-block: 1px;





}

.other-message-data {
    color: white;
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(40, 41, 40);
    word-wrap: break-word;
    max-width: 50%;
    margin-block: 1px;
}

.button-delete {
    color: rgb(185, 5, 5);
    font-size: 20px;

}

.button-deleteMessage-container {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (width < 500px) {

    .my-message-data,
    .other-message-data {
        max-width: 100px;
    }
}

@media (width < 950px) {

    .my-message-data,
    .other-message-data {
        max-width: 200px;
    }
}